@font-face{
    font-family: "Iceland-Regular";
    src: url("fonts/Iceland-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Aldrich-Regular";
    src: url("fonts/Aldrich-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "JFRocOut";
    src: url("fonts/JFRocOut.ttf") format("truetype");
}
@font-face{
    font-family: "origami_making";
    src: url("fonts/origami_making.ttf") format("truetype");
}
html{
    margin: 0 20px;
}
h1{
   display: none;
}
body{
    font-family: "Aldrich-Regular", sans-serif;
    background-color: #E2C9A7;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto; 
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 125px;
    width: 80%; 
    gap: 15px;
}
span#rock-title{
    font-family: "JFRocOut", sans-serif;
    font-weight: 700;
    font-size: 65px;
}
span#paper-title{
    font-family: "origami_making", sans-serif;
    margin-top: 10px;
    font-size: 53px;
}
span#scissor-title{
    font-family: "Iceland-Regular", sans-serif;
    font-size: 95px;
    line-height: 4;
    margin-bottom: 16px;
}
.text-container{
    width:100%;
    min-height: 160px; 
    background-color: #7B5838;
    display: flex; 
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    margin-bottom: 30px; 
    border-radius: 10px;
}
.text-container span{
    font-size: 30px; 
    color: #F1F0F3;
}
.text-container span.score-info{
    padding-top: 35px;
}
.text-container span.game-info{
    white-space: pre-line;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
    font-size: 25px; 
}
.text-container span.starting-info{
    text-align: center;
    line-height: 2; 
    padding-top: 20px;
}
.text-container span.hidden, .game-container--focus, button.hidden{{
    display: none; 
}
.game-container{
    display: flex; 
    justify-content: space-between;
    text-align: center;
    width: 100%;
    min-height: 430px; 
    border-radius: 10px;
}
.game-container--focus.focussed{
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: #84794F;
    border-radius: 10px;
    max-width: 1500px;
}
.results-container{
    display: flex;
    flex-direction: row; 
    flex-grow: 1;
}
.game-container--focus.focussed > div{
    display: flex;  
    flex-direction: column;
    width: 100%;
}
.results-container{
    flex-direction: row !important; 
    width: 100%;
}
.game-container__computer{
    flex-direction: column; 
    align-items: center;
}
.results-container > div{
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.game-container--focus span{
    margin: 10px; 
    font-size: 30px;
    margin-bottom: 20px; 
}
.player--buttons{
    display: flex;
    justify-content: space-evenly;
}
button{
    color: transparent;
    background-color: transparent;
}
.player--buttons button{
    border: none;
    display: flex;
    align-items: flex-end;
}
button:hover{
    cursor: pointer;
}
#start{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game-container__start button, .game-container__computer button{
    background-color: #4F4E55;
    color: #F1F0F3;
    width: 150px;
    height: 50px;
    font-size: 25px; 
    border-radius: 10px; 
    transition-duration: 0.4s;
    border:none; 
}
.game-container__start button:hover, .game-container__computer button:hover{
    background-color: #F1F0F3; 
    color: #4F4E55;
}
#play-again-btn{
    margin-top:20px; 
}
footer{
    position: absolute; 
    bottom: 0; 
    font-family: sans-serif;
    font-weight: bold; 
}
footer a{
    text-decoration: none;
    margin-bottom: 21px;
    display: flex;
}
@media only screen and (max-width: 900px) {
    header span#rock-title, header span#paper-title{
        font-size: 38px;
    }
    header span#scissor-title{
        font-size: 65px;
        line-height: 4;
        margin-bottom: 8px;
    }
    .text-container span{
        font-size: 25px; 
    }
    .text-container span.starting-info {
        padding-top: 25px;
    }
    .game-container{
        min-height: 360px;
    }
}
@media only screen and (max-width: 630px) {
    header{
        height: 100px; 
    }
    header span#rock-title{
        font-size: 28px;
    }
    header span#paper-title{
        font-size: 28px;
        margin-top: 8px; 
    }
    header span#scissor-title{
        font-size: 49px;
        line-height: 4;
        margin-bottom: 3px;
    }
    .text-container span, .text-container span.game-info{
        font-size: 20px; 
        padding-left: 10px; 
        padding-right: 10px; 
    }
    .text-container span.starting-info {
        padding-top: 25px;
    }
    .game-container{
        min-height: 250px;
    }
    .game-container--focus span {
        font-size: 25px;
    }
    img{
        width: 100%; 
    }
    .results-container{
        justify-content: space-around; 
    }
    .results-container > div{
        width: 40%;
        justify-content: space-evenly;
    }
    .game-container__computer{
        min-height: 330px; 
    }
}
@media only screen and (max-width: 470px) {
    header {
        flex-wrap: wrap; 
        gap: 0px;
    }
    header span#scissor-title{
        line-height: unset;
    }
}
@media only screen and (max-width: 380px) {
    .game-container--focus span {
        font-size: 16px;
    }
}